.card{
    padding: 0;
    max-width: 27rem;
}
.card-body{
    padding-bottom: 0;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.row{
    justify-content: center;
}